- if user_signed_in? 
  = render partial: "shared/navbar", locals: {community: nil}
- else
  = render partial: "shared/unsigned_navbar"

.w-screen.min-h-screen.bg-redditGray.pt-28 [class="dark:bg-gray-900" data-controller="dropdown"]
  .mx-auto.flex.gap-8 class="w-3/4"
    .flex.flex-col.gap-6 class="w-2/3"
      h1.text-2xl.font-bold class="dark:text-white"
        | Create a post
      .flex.flex-col.gap-3 
        .relative.navbar__dropdown [data-dropdown]
          button.navbar__dropdown-toggle.w-80.py-2.px-4.bg-white.flex.items-center.gap-4.text-gray-500.rounded-lg.shadow [class="dark:bg-gray-700 dark:text-white" data-dropdown-button]
            span.h-8.w-8.rounded-full.border.border-gray-500.border-dashed.pointer-events-none 
            span.font-bold.text-lg.pointer-events-none 
              | Choose a community 
            i.pointer-events-none class="ml-auto fa-solid fa-chevron-down my-auto"
        
          .absolute.navbar__dropdown-list.w-80.z-50.px-4.py-2.bg-white.max-h-96.rounded-lg.overflow-y-auto class="dark:bg-gray-700 dark:text-white"
            .flex.flex-col.gap-6
              - current_user.communities.each do |community| 
                = link_to community_posts_new_path(community_id: community, type: "post")
                  .flex.items-center.gap-4
                    span.h-8.w-8.rounded-full.bg-blue-500.overflow-hidden  
                      - if community.community_icon.attached?
                        = image_tag community.community_icon, class: "w-full h-full object-cover"
                    span.font-bold.text-lg
                      ="/r#{community.name}"

        .w-full.bg-white.shadow.rounded-md.flex.flex-col class="dark:bg-gray-700 dark:text-white"
          .w-full.flex
            .flex.flex-col class="w-1/4"
              .flex.gap-2.items-center.justify-center.text-blue-500.font-sans.font-bold.text-xl.py-3
                i class="fa-solid fa-file-lines text-2xl"
                span
                  |Post
            .flex.flex-col class="w-1/4"
              .flex.gap-2.items-center.justify-center.text-gray-300.font-sans.font-bold.text-xl.py-3
                i class="fa-solid fa-square-poll-horizontal"
                span
                  |Poll           

          = form_with model: @post, class: "text-lg font-sans px-8 pt-6 pb-8 flex flex-col gap-6" do |f|
            = f.text_field :title, placeholder: "Title", class: "w-full focus:outline-none focus:ring-1 focus:ring-black py-2 px-6 rounded-md dark:bg-gray-700 dark:text-white dark:focus:ring-white"
            = f.rich_text_area :content, class: "border-none focus:outline-none focus:ring-1 focus:ring-black overflow-scroll dark:bg-gray-700 dark:text-white dark:focus:ring-white", placeholder: "Text (optional)"
            = f.submit "Post", class: "rounded-full py-2 px-8 bg-gray-500 font-sans font-bold text-white text-lg ml-auto dark:bg-gray-900 dark:text-gray-700", disabled: "disabled"
        

    .w-96.flex.flex-col.gap-6
      .w-full.bg-white.rounded-md.shadow.p-6.font-bold.h-96.flex.flex-col.justify-center class="dark:bg-gray-700 dark:text-white"
        h1.text-xl.mb-4.flex.gap-4.items-center
          .span.w-14.h-14
            = svg_pack_tag "reddit-posting-remind"
          .span
            | Posting to Reddit
        ul.flex.flex-col.gap-6.text-lg
          li 
            | 1. Remember the human
          li 
            | 2. Behave like you would in real life 
          li 
            | 3. Look for the original source of content
          li 
            | 4. Search for duplicates before posting
          li 
            | 5. Read the community's rules 
