- if user_signed_in? 
  = render partial: "shared/navbar", locals: {community: @post.community}
- else
  = render partial: "shared/unsigned_navbar"

.w-screen.bg-redditGray.pt-28.pb-16 class="dark:bg-gray-900"
  .mx-auto.flex.gap-8 class="w-3/4"
    .min-h-screen class="w-2/3"
      - if @post.status == "moderating" 
        .w-full.bg-teal-100.border.border-teal-500.rounded-b.text-teal-900.text-center.py-3.text-xl.mb-4
          | This post is currently waiting for moderator to approve
      - elsif @post.status == "rejected"
        .w-full.bg-red-100.border.border-red-400.text-red-700.text-center.py-3.text-xl.mb-4.flex.flex-col
          p
            | This post was deem as inapproriated by moderator, you can either inquire directly 
          p 
            | about this with moderator or delete this post


      .w-full.bg-white.flex.flex-col.rounded-md.shadow.pt-2.pb-8 class="dark:bg-gray-700 dark:text-white"
        .flex
          .w-20.h-full.py-3
            = render partial: "shared/vote_form", locals: { votes: @post.votes, vote_id: @post.id, vote_type: "Post" }
          .flex.flex-col.w-full
            .flex.flex-col.gap-8.w-full data-controller="modal"
              .flex.flex-col.w-full
                .w-full.flex.flex-col.gap-3.p-2
                  .flex.gap-2.items-center
                    .h-8.w-8.rounded-full.bg-blue-500.overflow-hidden
                      - if @post.community.community_icon.attached?
                        = image_tag @post.community.community_icon, class: "w-full h-full object-cover"
                    strong.text-md 
                      ="/r#{@post.community.name}"
                    span.text-gray-500
                      = "Posted by /u#{@post.user.full_name}"
                  .text-2xl.font-bold
                    = @post.title
                .w-full.pl-2.pr-6.z-0.text-lg.font-sans
                  == @post.content
              
              - if (@post.post_type == "poll") 
                = render partial: "shared/poll_section", locals: {post: @post}
                
              = render partial: "shared/user_interactive_bar", locals: {post: @post}
              = render partial: "shared/share_post_modal", locals: { post: @post } 
            
            - if user_signed_in?
              = render partial: "shared/comment_form", locals: { post: @post, parent_id: nil }

        .w-full.mt-10.px-4.flex.flex-col.gap-6
          = render @post.comments.where(parent_id: nil)
  
    = render partial: "shared/community_sidebar", locals:  {community: @post.community}

