= render layout: "layouts/chatroom" do
  .flex.flex-col.gap-4.items-center
    .w-48.h-48
      = image_pack_tag "media/images/chatroom_center.png"
    
    .flex.flex-col.font-sans.items-center
      strong.text-xl
        | Welcome to chat!
      strong.text-xl
        | Let's start a conversation

      .flex.flex-col.items-center.text-sm.mt-2
        p 
          | Invite other redditors or share a link with 
        p
          | people you know.
