= render layout: "layouts/chatroom" do 
  .w-full.h-full.flex [data-controller="display modal"]
    .w-full.h-full.flex.flex-col
      .flex.items-center.gap-4.py-2
        .w-14.h-14.rounded-full.flex.justify-center.items-center.bg-blue-500.ml-4
          i class="fa-solid fa-people-group text-3xl text-white"
        .font-bold.text-xl
          = @chatroom.name
        
        button.ml-auto.mr-6.px-2.py-1.rounded-full.bg-blue-500.text-white [data-action="click->display#toggle"]
          i class="fa-solid fa-list-ul"

      #messages-container.w-full.h-full.overflow-auto.flex.flex-col.gap-2.px-4.py-4.font-bold data-chatroom-id="#{@chatroom.id}" data-chatroom-user-id="#{current_user.id}"
        - @chatroom.messages.each do |message| 
          - if message.user_id == current_user.id 
            .ml-auto.bg-blue-500.text-white.rounded-full.py-2.px-4
              p.text-lg
                = message.content 
          - else
            .flex.flex-col 
              .pl-14.text-gray-500
                = message.user.full_name 
              .flex.items-center.gap-3
                .w-10.h-10.bg-gray-500.rounded-full.overflow-hidden
                  - if message.user.current_avatar
                    = image_tag message.user.current_avatar, class: "w-full h-full object-cover"
                p.text-lg
                  = message.content 
      
      .w-full.py-4.bg-white.flex.flex-col.px-8
        = form_with model: Message.new, url: chatroom_messages_path(@chatroom), id: "message-form", class: "flex items-center" do |f|
          = f.text_field :content, placeholder: "Aa", autocomplete: "off", class: "font-bold w-full text-lg focus:outline-none"
          = f.hidden_field :chatroom_id, value: @chatroom.id 
          = f.hidden_field :user_id, value: current_user.id
          button.text-3xl.text-blue-500 
            i class="fa-solid fa-circle-right"

    .displayable.w-96.h-full.flex.flex-col.overflow-auto.py-6.font-bold [data-display-target="displayable"]
      .w-14.h-14.ml-auto.rounded-full.bg-gray-500.relative.mx-auto
        .absolute.w-16.h-16.border-2.border-white.rounded-full.bg-gray-500.top-5.-left-8
      .text-2xl.mt-8.mx-auto
        = @chatroom.name
      .w-full.flex.flex-col.mt-4.pl-4.gap-4
        strong.text-xl
          | Chatroom members
        - @chatroom.users.each do |user| 
          .flex.gap-3.items-center.text-lg
            .w-10.h-10.rounded-full.bg-gray-500.overflow-hidden
              img.object-cover [src="#{user.avatar_url}"]
            strong
              = user.full_name

        button#addChatroomMember-open.font-bold.flex.items-center.pl-2.gap-4.mt-2.text-lg [data-action="click->modal#showModal"]
          i class="fa-solid fa-plus text-2xl pointer-events-none"
          span.pointer-events-none
            | Add user
    
    = render partial: "shared/add_chatroom_member_modal", locals: { chatroom: @chatroom }
