= render layout: "devise/shared/background" do 
  .flex.flex-col.justify-center.px-8.gap-8.text-xl
    h1.text-2xl.font-bold.mb-4
      | Sign up

    .flex.flex-col.gap-4
      = link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "border border-blue-500 rounded-md py-5 pl-16 pr-8 relative text-blue-500" do
        .absolute class="top-1/3 left-6"
          = svg_pack_tag "google-icon"
        strong
          | CONTINUE WITH GOOGLE

      = link_to user_facebook_omniauth_authorize_path, method: :post, class: "border border-blue-500 rounded-md py-5 pl-16 pr-8 relative text-blue-500" do
        .absolute class="top-1/3 left-6"
          = svg_pack_tag "facebook-icon"
        strong
          | CONTINUE WITH FACEBOOK
    
    strong.mx-auto.text-lg.text-gray-600
      | OR
      
    = form_for(resource, as: resource_name, html: {class: "w-full flex flex-col gap-4"}, url: registration_path(resource_name)) do |f|
      .input__box.relative
        = f.email_field :email, class: "w-full rounded-full border px-5 pb-1 pt-5 font-bold hover:border-gray-400", placeholder: "", required: "required"
        = f.label :email, class: "absolute font-bold top-3 left-5 text-gray-500"
        
      .w-80.text-base.text-left.italic.pl-4
        |Password must contain at least one uppercase character, one number, one special symbol and have minimum length of 8 characters.
      
      .input__box.relative
          = f.password_field :password, class: "w-full rounded-full border px-5 pb-1 pt-5 font-bold hover:border-gray-400", placeholder: "", pattern: "^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,}$"
          = f.label :password, class: "absolute font-bold top-3 left-5 text-gray-500"
      .input__box.relative
        = f.password_field :password_confirmation, class: "w-full rounded-full border px-5 pb-1 pt-5 font-bold hover:border-gray-400", placeholder: ""
        = f.label :password_confirmation, class: "absolute font-bold top-3 left-5 text-gray-500"

      = f.submit "SIGN UP", class: "w-full mx-auto mt-4 bg-blue-600 text-white rounded-md px-5 py-3 font-bold"

    p.text-lg.pl-3
        | Already a redditor? 
        = link_to "Log In", new_session_path(resource_name), class: "text-blue-500 font-bold underline"
