= render partial: "shared/navbar", locals: {community: nil}

.w-screen.min-h-screen.bg-redditGray.pt-28.pb-16.flex.flex-col.items-center
  .mx-auto.flex.flex-col.gap-6 class="w-1/2"
    strong.text-3xl
      | Administration

    strong.text-2xl 
      | Communitites
    
    .w-full.bg-white.rounded-lg.p-4.flex.flex-col.gap-4 
      - @communities.each do |community|   
        .flex.items-center
          = link_to community_path(community), class:"flex items-center gap-4" do
            .w-14.h-14.rounded-full.bg-gray-500 

            .flex.flex-col
              strong 
                = "r/#{community.name}"
              strong.text-gray-500 
                = community.community_type.capitalize
          .ml-auto.flex.items-center 
            = link_to "Moderate users", moderator_resources_path(id: community, status: 'moderating', type: 'requests'),class: "font-sans font-bold text-blue-500 mr-4 text-lg"
