= render partial: "shared/navbar", locals: {community: nil}

.w-screen.min-h-screen.bg-white.pt-28 [class="dark:bg-gray-700" data-controller="modal"]
  .mx-auto.flex.flex-col.gap-10 class="w-3/4"
    h1.text-xl.font-bold class="dark:text-white"
      | User settings
    
    = render partial: "shared/settings_links", locals: {current_name: "Account"}

    h1.text-2xl.font-bold class="dark:text-white"
      | Account settings
    h2.text-gray-500.text-sm.font-bold.font-sans class="dark:text-gray-300"
      | ACCOUNT PREFERENCE
    
    .flex.justify-between.items-center class="w-1/2"
      .flex.flex-col
        .span.text-lg.font-bold class="dark:text-white"
          | Email address 
        .span.text-sm.text-gray-500 class="dark:text-gray-300"
          = current_user.email
      button#changeEmail-open.px-5.py-2.font-bold.font-sans.text-blue-500.border.border-blue-500.rounded-full [class="dark:border-white dark:text-white" data-action="click->modal#showModal"]
        | Change
    
    .flex.justify-between.items-center class="w-1/2"
      .flex.flex-col
        .span.text-lg.font-bold class="dark:text-white"
          | Change password 
        .span.text-sm.text-gray-500 class="dark:text-gray-300"
          | Password must be at least 8 characters long
      button#changePassword-open.px-5.py-2.font-bold.font-sans.text-blue-500.border.border-blue-500.rounded-full [class="dark:border-white dark:text-white" data-action="click->modal#showModal"]
        | Change

    .flex.flex-col.mt-8
      h2.text-gray-500.text-sm.font-bold.font-sans class="dark:text-gray-300"
        | DELETE ACCOUNT

      .flex.justify-between.items-center class="w-1/2"
        .
        button#deleteAccount-open.px-5.py-2.font-bold.font-sans.text-red-500.rounded-full.text-sm.flex.gap-2.items-center [data-action="click->modal#showModal"]
          i class="fa-solid fa-trash pointer-events-none"
          span.pointer-events-none
            | DELETE_ACCOUNT
  
  = render partial: "shared/change_email_modal"
  = render partial: "shared/change_password_modal"
  = render partial: "shared/delete_account_modal"
