= render partial: "shared/navbar", locals: {community: nil}

.w-screen.min-h-screen.bg-white.py-28 [class="dark:bg-gray-700"]
  .mx-auto.flex.flex-col.gap-10 class="w-3/4"
    h1.text-xl.font-bold class="dark:text-white"
      | Customize profile
    = render partial: "shared/settings_links", locals: {current_name: "Profile"}

    h2.text-gray-500.text-sm.font-bold.font-sans class="dark:text-gray-300"
      | PROFILE INFORMATION
    
    .flex.flex-col.gap-2
      strong.text-xl class="dark:text-white"
        | Display name (optional)
      p.text-gray-500 class="dark:text-gray-300"
        | Set a display name.

      = form_with model: User.new, url: update_info_settings_path, method: :post, class: "flex flex-col gap-4" do |f|
        = f.text_field :full_name, placeholder: "Display name (optional)", class: "w-1/2 mt-2 p-3 rounded-lg text-lg outline-none focus:ring-2 focus:ring-black dark:bg-gray-700 dark:text-white dark:focus:ring-white"
        
        .flex
          = f.submit "Change", class: "bg-blue-500 font-sans font-bold text-white py-2 px-6 rounded-full dark:bg-white dark:text-gray-700"
      
    .flex.flex-col.gap-2
      strong.text-xl class="dark:text-white"
        | About (optional)
      p.text-gray-500 class="dark:text-gray-300"
        | A brief description of yourself shown on your profile.
      
      = form_with model: User.new, url: update_info_settings_path, method: :post, class: "flex flex-col gap-4" do |f|
        = f.text_area :description, placeholder: "About (optional)", class: "w-1/2 mt-2 p-3 rounded-lg text-lg outline-none focus:ring-2 focus:ring-black dark:bg-gray-700 dark:text-white dark:focus:ring-white"
        
        .flex
          = f.submit "Change", class: "bg-blue-500 font-sans font-bold text-white py-2 px-6 rounded-full dark:bg-white dark:text-gray-700"
    
    .flex.flex-col.gap-2
      strong.text-xl class="dark:text-white"
        | Avatar
      
      .h-40.w-40.rounded-lg.bg-gray-500.overflow-hidden
        - if current_user.current_avatar
          = image_tag current_user.current_avatar, class: "w-full h-full object-cover"

      = form_with model: User.new, url: update_info_settings_path, method: :post, class: "mt-2 flex flex-col gap-4" do |f|
        = f.file_field :avatar, class: "dark:text-white"
        .flex
          = f.submit "Change", class: "bg-blue-500 font-sans font-bold text-white py-2 px-6 rounded-full dark:bg-white dark:text-gray-700"
