= render partial: "shared/navbar", locals: {community: nil}

.w-screen.min-h-screen.bg-white.pt-28 [class="dark:bg-gray-700"]
  .mx-auto.flex.flex-col.gap-10 class="w-3/4"
    h1.text-xl.font-bold class="dark:text-white"
      | User settings
    = render partial: "shared/settings_links", locals: {current_name: "Subscriptions"}
    h1.text-2xl.font-bold class="dark:text-white"
      | Reddit Clone Premium
    
    p.text-gray-500 class="dark:text-gray-300"
      | Reddit Clone Premium is a subscription membership that upgrades your account with extra features. 
    
    h2.text-gray-500.text-sm.font-bold.font-sans class="dark:text-gray-300"
      | SUBSCRIPTION STATUS
    
    p.text-gray-500 class="dark:text-gray-300"
      | Get Reddit Clone Premium and help support Vance.
    
    .flex.justify-between.text-blue-500.text-xl class="w-1/2"
      = link_to new_subscription_path do 
        p.font-bold.flex.gap-2.items-center class="dark:text-white"
          | Get Premium
          i class="fa-solid fa-share-from-square"
      
      = link_to new_subscription_path do 
        p.text-2xl class="dark:text-white"
          i class="fa-solid fa-arrow-right"
