- if user_signed_in? 
  = render partial: "shared/navbar", locals: {community: @community}
- else
  = render partial: "shared/unsigned_navbar"

.min-h-screen.bg-redditGray.pt-28.pb-16 [class="dark:bg-gray-900" data-controller="dropdown"]
  .mx-auto.flex.gap-8 class="w-3/4"
    .flex.flex-col.gap-6 class="w-2/3"
      h1.text-2xl.font-bold class="dark:text-white"
        | Create a post
      .flex.flex-col.gap-3 
        .relative.navbar__dropdown [data-dropdown]
          button.navbar__dropdown-toggle.w-80.py-2.px-4.bg-white.flex.items-center.gap-4.rounded-lg.shadow [class="dark:bg-gray-700 dark:text-white" data-dropdown-button]
            span.h-8.w-8.rounded-full.bg-blue-500.pointer-events-none.overflow-hidden 
              - if @community.community_icon.attached?
                = image_tag @community.community_icon, class: "w-full h-full object-cover"
            span.font-bold.text-lg.pointer-events-none 
              = "r/#{@community.name}"
            i.pointer-events-none class="ml-auto fa-solid fa-chevron-down my-auto"
        
          .absolute.navbar__dropdown-list.w-80.z-50.px-4.py-2.bg-white.max-h-96.overflow-y-auto.rounded-lg class="dark:bg-gray-700 dark:text-white"
            .flex.flex-col.gap-6
              - current_user.communities.each do |community| 
                - unless community.id == @community.id
                  = link_to community_posts_new_path(community)
                    .flex.items-center.gap-4
                      span.h-8.w-8.rounded-full.bg-blue-500.overflow-hidden 
                        - if community.community_icon.attached?
                          = image_tag community.community_icon, class: "w-full h-full object-cover"
                      span.font-bold.text-lg
                        ="/r#{community.name}"

        .w-full.bg-white.shadow.rounded-md class="dark:bg-gray-700 dark:text-white"
          .w-full.flex
            = link_to community_posts_new_path(community_id: @community, type: "post"), class: "w-1/4"
              .flex.flex-col 
                .flex.gap-2.items-center.justify-center.font-sans.font-bold.text-xl.py-3 class="#{@post.post_type == "post" ? "text-blue-500" : "text-gray-500"}"
                  i class="fa-solid fa-file-lines text-2xl"
                  span
                    |Post
            
            = link_to community_posts_new_path(community_id: @community, type: "poll"), class: "w-1/4"
              .flex.flex-col
                .flex.gap-2.items-center.justify-center.font-sans.font-bold.text-xl.py-3 class="#{@post.post_type == "poll" ? "text-blue-500" : "text-gray-500"}"
                  i class="fa-solid fa-square-poll-horizontal"
                  span
                    |Poll    

          = form_with model: @post, url: community_posts_path(@community), class: "text-lg font-sans p-8 flex flex-col gap-6" do |f|
            = f.text_field :title, placeholder: "Title", class: "w-full focus:outline-none focus:ring-1 focus:ring-black py-2 px-6 rounded-md dark:bg-gray-700 dark:text-white dark:focus:ring-white", required: "true"
            = f.rich_text_area :content, class: "border-none focus:outline-none focus:ring-1 focus:ring-black overflow-scroll dark:bg-gray-700 dark:text-white dark:focus:ring-white", placeholder: "Text (optional)"
            
            - if @post.post_type == "poll"
              .flex.w-full.justify-center.gap-8 data-controller="pollOption"
                .flex.flex-col.gap-2 class="w-7/12" data-pollOption-target="optionContainer" data-last-option-id="1"
                  = f.fields_for :poll_options do |pf|
                    .flex.items-center.gap-2 id="optionContainer#{pf.options[:child_index]}"
                      i class="fa-solid fa-bars text-xl text-gray-500"
                      = pf.text_field :name, placeholder: "Option #{pf.options[:child_index] + 1}", class: "w-full py-2 px-4 focus:outline-none focus:ring-1 focus:ring-black rounded-md dark:bg-gray-700 dark:text-white dark:ring-white", required: "required" 
                  
                  .flex.mt-2
                    button.text-blue-500.font-bold type="button" data-action="click->pollOption#addOption"
                      | Add Option
                      
                .flex.flex-col.gap-2 
                  .flex.gap-2.text-base.items-center
                    i class="fa-solid fa-circle-info"
                    span
                      |Tips on Better Polls 
                  .text-sm 
                    | 1. Suggest short clear options  
                  .text-sm 
                    | 2. The more options, the better
                  .text-sm 
                    | 3. Choose the poll duration
                  .text-sm 
                    | 4. Options can't be edited after post creation       

            = f.submit "Post", class: "rounded-full py-2 px-8 bg-blue-500 font-sans font-bold text-white text-lg ml-auto dark:bg-white dark:text-gray-700"
        

    .flex.flex-col.gap-6
      .w-96.flex.flex-col.gap-6
        .w-full.bg-white.rounded-md.shadow.p-6.font-bold.h-96.flex.flex-col.justify-center class="dark:bg-gray-700 dark:text-white"
          h1.text-xl.mb-4.flex.gap-4.items-center
            .span.w-14.h-14
              = svg_pack_tag "reddit-posting-remind"
            .span
              | Posting to Reddit
          ul.flex.flex-col.gap-6.text-lg
            li 
              | 1. Remember the human
            li 
              | 2. Behave like you would in real life 
            li 
              | 3. Look for the original source of content
            li 
              | 4. Search for duplicates before posting
            li 
              | 5. Read the community's rules

      = render partial: "shared/community_sidebar", locals: {community: @community} 
