= render layout: "devise/shared/background" do 
  .flex.flex-col.justify-center.px-8.gap-8.text-xl
    .flex.flex-col.gap-2
      h1.text-2xl.font-bold
        | Reset your password 
      .flex.flex-col
        span
          | Tell us the email address associated with your 
        span
          | Reddit account, and we'll send you an email with 
        span
          | a link  to reset your password. 
      

    = form_for(resource, as: resource_name, html: {class: "w-full flex flex-col gap-4", method: :post}, url: password_path(resource_name)) do |f|
      .input__box.relative
        = f.email_field :email, class: "w-full rounded-full border px-5 pb-1 pt-5 font-bold hover:border-gray-400", placeholder: ""
        = f.label :email, class: "absolute font-bold top-3 left-5 text-gray-500"
      .input__box.relative

      = f.submit "RESET PASSWORD", class: "w-full mt-4 bg-blue-600 text-white rounded-md py-3 font-bold"

    p.text-lg.pl-3.flex.gap-3.items-center
      = link_to "LOG IN", new_session_path(resource_name), class: "text-blue-500 font-bold"
      span.h-1.w-1.bg-blue-500.rounded-full
      = link_to "SIGN UP", new_registration_path(resource_name), class: "text-blue-500 font-bold"

