const stripe = Stripe("<%= ENV['STRIPE_PUBLIC_KEY'] %>")

stripe.redirectToCheckout({
    sessionId: '<%= @checkout_session.id %>'
}).then(function (result) {
    console.log(result.error_message)
});
