- if user_signed_in? 
  = render partial: "shared/navbar", locals: {community: nil}
- else
  = render partial: "shared/unsigned_navbar"

.w-screen.min-h-screen.pt-20.flex.flex-col class="dark:bg-gray-700 dark:text-white"
  .reddit-premium__header-bg.flex.items-center.pl-40
    .flex.flex-col.gap-8 class="w-2/5"
      = svg_pack_tag "reddit-premium"
      p.text-white.font-bold.text-2xl
        | Help support Reddit and get VIP treatment, exclusive access, and monthly coins.

      - unless user_signed_in? && current_user.active_subscription?  
        .grid.grid-cols-2.gap-4
          = form_with url: subscriptions_path, method: :post do |f|
            = f.hidden_field :price_id, value: ENV["SUBSCRIPTION_MONTHLY_PRICE_ID"]
            = f.submit "$5.99/Month", class:"py-3 bg-transparent rounded-full border border-white text-white font-sans font-bold w-full cursor-pointer"
          
          = form_with url: subscriptions_path,method: :post do |f|
            = f.hidden_field :price_id, value: ENV["SUBSCRIPTION_YEARLY_PRICE_ID"]
            button.py-3.rounded-full.bg-redditOrange.text-white.font-sans.font-bold.flex.gap-2.justify-center.items-center.w-full
              | $49.99/Year
              span.bg-white.text-redditOrange.rounded-full.px-2.py-1
                | Save 30%
        p.text-white
          | *Subscriptions are automatically renewed
      - else 
        p.text-white.text-2xl.font-bold.mx-auto
          | You are currently a premium member
        p.italic.text-white.text-xl.mx-auto
          = "Your subscription will expired in #{days_from_now(current_user.subscription_end_date)}"
  
  .flex.justify-center.font-sans.font-bold.text-4xl.pt-20
    |Join Reddit Premium Today
