= render partial: "shared/navbar", locals: {community: nil}

.reddit-success__container.w-screen.min-h-screen.pt-28
  .opacity-100.mx-auto.w-96.mt-48.bg-white.rounded-lg.flex.flex-col
    = svg_pack_tag "green-tick"
    .text-center
      h3 class="md:text-2xl text-base text-gray-900 font-semibold text-center"
        | Payment Done! 
      p.text-gray-600.my-2 
        | Thank you for completing your secure online payment. 
      p 
        | Have a great day! 
      .py-10.text-center
        = link_to "GO BACK", root_path, class: "font-bold bg-redditOrange text-white px-5 py-3 rounded-lg"
