#addChatroomMember-modal.fixed.top-0.left-0.w-screen.h-screen.justify-center.items-center [data-modal-target="modal"]
  .fixed.top-0.left-0.w-screen.h-screen.bg-black.opacity-50
  .bg-white.opacity-100.z-50.rounded-xl.shadow-lg.relative.flex.flex-col.p-8 class="w-1/3"
    button#addChatroomMember-close.absolute.top-6.right-6.text-2xl.text-gray-500 [data-action="click->modal#closeModal"]
      i.pointer-events-none class="fa-solid fa-xmark"
    
    .flex.flex-col.gap-8.text-xl 
      h1.font-bold.text-xl.mx-auto
        | Add User
      
      = form_with url: chatroom_users_path(chatroom), method: :post do |f|
        .flex.flex-col.gap-4.text-lg.h-96.pr-4.overflow-auto
          - chatroom.users_outside_chatroom.each do |user|
            .flex.items-center.gap-4
              label.w-full.flex.items-center.gap-4 for="user_id_#{user.id}"
                .w-12.h-12.rounded-full.bg-gray-500.overflow-hidden
                  img.object-cover [src="#{user.avatar_url}"]
                .font-bold
                  = user.full_name
                
                input.ml-auto.w-6.h-6.rounded-lg type="checkbox" name="user_id[]" value="#{user.id}" id="user_id_#{user.id}" 

        .flex.flex-col.mt-6
          = f.submit "Add user", class: "py-2 bg-blue-500 font-sans font-bold text-white rounded-lg"
