.fixed.top-0.left-0.w-screen.h-screen.z-50.flex.justify-center.items-center  [data-controller="remove"]
  .fixed.top-0.left-0.w-screen.h-screen.bg-black.opacity-50
  .bg-white.opacity-100.z-50.rounded-xl.shadow-lg.relative.flex.flex-col.p-16 class="dark:bg-gray-700 dark:text-white"
    button.absolute.top-6.right-6.text-2xl.text-gray-500 [data-action="click->remove#remove"]
      i.pointer-events-none class="fa-solid fa-xmark"

    .w-full.flex.flex-col.gap-4
      strong.text-xl
        | Choose Your Interests
      
      p 
        | Access many interesting contents base on your hobby
      
      = form_with url: interests_path, class: "flex flex-col gap-4", method: :post do |f|
        - Interest.all.each do |interest| 
          .flex.items-center
            label.font-bold.text-blue-500 for="interest_id_#{interest.id}" 
              = interest.name 
            input.ml-auto.w-6.h-6.rounded-lg type="checkbox" name="interests_id[]" value="#{interest.id}" id="interest_id_#{interest.id}"
        
        = f.submit "Add Interests", class: "py-2 px-6 font-sans font-bold rounded-full bg-blue-500 text-white mt-4 mx-auto dark:bg-white dark:text-gray-700"
