#changePassword-modal.fixed.top-0.left-0.w-screen.h-screen.justify-center.items-center.z-50 [data-modal-target="modal"]
  .fixed.top-0.left-0.w-screen.h-screen.bg-black.opacity-50
  .bg-white.opacity-100.rounded-lg.shadow-2xl.relative.flex.overflow-hidden class="w-1/2 h-5/6 dark:bg-gray-700 dark:text-white"
    button#changePassword-close.absolute.top-6.right-6.text-2xl.text-gray-500 [data-action="click->modal#closeModal"]
      i.pointer-events-none class="fa-solid fa-xmark"
    
    .authentication__left-container-modal.h-full.w-40.bg-black
    .w-full.h-full.flex.flex-col.justify-center.pl-6.gap-8 
      = svg_pack_tag("reddit-icon", class: "w-11 h-11")

      h1.font-bold.text-2xl
        |Update your password

      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "flex flex-col gap-8" }) do |f|
        .input__box.relative
          = f.password_field :current_password, class: "w-96 rounded-md border px-3 pb-1 pt-5 font-bold hover:border-gray-400 dark:bg-gray-700 dark:text-white", placeholder: "", required: "required"
          = f.label :current_password, "OLD PASSWORD", class: "absolute font-bold top-3 left-5 text-gray-500 pointer-events-none dark:text-gray-300"
        .input__box.relative
          = f.password_field :password, class: "w-96 rounded-md border px-3 pb-1 pt-5 font-bold hover:border-gray-400 dark:bg-gray-700 dark:text-white", placeholder: "", required: "required", pattern: "^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,}$"
          = f.label :password, "NEW PASSWORD", class: "absolute font-bold top-3 left-5 text-gray-500 pointer-events-none dark:text-gray-300"
        .input__box.relative
          = f.password_field :password_confirmation, class: "w-96 rounded-md border px-3 pb-1 pt-5 font-bold hover:border-gray-400 dark:bg-gray-700 dark:text-white", placeholder: "", required: "required"
          = f.label :password_confirmation, "CONFIRM NEW PASSWORD", class: "absolute font-bold top-3 left-5 text-gray-500 pointer-events-none dark:text-gray-300"
        .
          = f.submit "Save", class: "bg-blue-500 font-sans font-bold text-white px-16 py-3 rounded-full dark:bg-white dark:text-gray-700"
