#changeEmail-modal.fixed.top-0.left-0.w-screen.h-screen.justify-center.items-center [data-modal-target="modal"]
  .fixed.top-0.left-0.w-screen.h-screen.bg-black.opacity-50
  .bg-white.opacity-100.z-50.rounded-xl.shadow-lg.relative.flex.flex-col.p-16 class="dark:bg-gray-700 dark:text-white"
    button#changeEmail-close.absolute.top-6.right-6.text-2xl.text-gray-500 [data-action="click->modal#closeModal"]
      i.pointer-events-none class="fa-solid fa-xmark"
    
    .w-96.flex.flex-col.gap-4.text-xl
      h1.font-bold.text-2xl 
        | Update your email
      
      p 
        | Update your email below. There will be a new verification email sent that you will need to use to verify this new email.

      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "flex flex-col gap-4 font-sans text-base" }) do |f|
        = f.password_field :current_password, autocomplete: "current-password", placeholder: "CURRENT PASSWORD", required: "required",class: "p-3 rounded-lg dark:bg-gray-700 dark:text-white"
        = f.email_field :email, required: "required", placeholder: "NEW EMAIL", class: "p-3 rounded-lg dark:bg-gray-700 dark:text-white"
        = f.submit "Save email", class: "ml-auto mt-2 px-5 py-3 text-white bg-blue-500 font-bold  rounded-full dark:bg-white dark:text-gray-700"


      
