.absolute.top-12.-right-4.p-6.bg-white.navbar__dropdown-list.navbar__community-list class="dark:bg-gray-700 dark:text-white"
  .flex.flex-col.gap-4 
    .text-xs.font-bold.text-gray-500
      | MODERATING
    = link_to moderator_resources_path(id: current_user, status: "moderating", type: "posts"), class:"flex text-lg gap-4 items-center" do
      i class="fa-solid fa-lines-leaning"
      p 
        | Mod Queue
    .flex.text-lg.gap-4.items-center
      i class="fa-solid fa-envelope"
      p 
        | Modmail
    
    - if @moderating_communities
      - @moderating_communities.each do |moderating_community| 
        = link_to community_path(moderating_community) do
          .flex.text-lg.gap-4.items-center
            .h-6.w-6.rounded-full.bg-blue-500.overflow-hidden
              - if moderating_community.community_icon.attached?
                = image_tag moderating_community.community_icon, class: "w-full h-full object-cover"
            p 
              = moderating_community.name

    .text-xs.font-bold.text-gray-500
      | YOUR COMMUNITIES
    
    - if @followed_communities
      - @followed_communities.each do |followed_community| 
        = link_to community_path(followed_community) do
          .flex.text-lg.gap-4.items-center
            .h-6.w-6.rounded-full.bg-blue-500.overflow-hidden
              - if followed_community.community_icon.attached?
                = image_tag followed_community.community_icon, class: "w-full h-full object-cover"
            p 
              = followed_community.name
