.flex.flex-col.pr-12.gap-2
  p 
    |Comment as 
    span.text-blue-500 
      = current_user.full_name
  
  = form_with model: Comment.new, url: post_comments_path(post), class: "w-full" do |f| 
    = f.hidden_field :parent_id, value: parent_id
    .w-full.flex.flex-col.border.rounded-lg.h-56.overflow-hidden class="hover:border-black dark:border-gray-700 dark:hover:border-white"
      = f.text_area :content, class:"w-full h-5/6 py-4 px-6 text-lg border-none focus:outline-none resize-none dark:bg-gray-700 dark:text-white", placeholder: "What are your thoughts?"
      .w-full.pb-1.px-2.flex.items-center.justify-end
        = f.submit "Comment", class: "rounded-full py-2 px-6 font-sans font-bold bg-blue-500 text-white dark:bg-white dark:text-gray-700"  
