.w-96.flex.flex-col.gap-6 
  .w-full.rounded-md.shadow.font-bold.flex.flex-col.bg-white.overflow-hidden
    .w-full.bg-blue-500.h-16.text-white.font-sans.font-bold.flex.items-center.justify-between.p-5
      strong.text-xl
        | About community 
      
      - if current_user&.admin_or_approved_moderator?(community)
        = link_to moderator_resources_path(id: community, status: "moderating", type: "requests"), class: "flex gap-2 p-2 hover:bg-blue-800" do
          i class="fa-solid fa-shield-halved text-2xl"
          strong.text-base 
            | MOD TOOLS

    .flex.flex-col.p-5.gap-4.text-lg class="dark:bg-gray-700 dark:text-white"
      p.font-normal.text-left
          | Descriptions about community (coming soon!)
      
      .flex.items-center.gap-2.text-gray-500.font-normal class="dark:text-gray-300"
        i class="fa-solid fa-cake-candles text-3xl"
        p
          = "Created #{community.created_at.strftime('%b %d, %Y')}"
      
      .flex.flex-col [data-controller="display"]
        strong 
          | Community topics
        .flex.flex-col
          - community.interests.each do |interest| 
            .flex
              .text-blue-500.ml-2 class="dark:text-white"
                = interest.name
              
              - if current_user&.admin_or_approved_moderator?(community)
                = link_to tag_path(find_tag_with_interest_and_community(interest, community)), class: "ml-auto text-gray-500 dark:text-gray-300", method: :delete do
                    i class="fa-solid fa-minus"
        
        - if current_user&.admin_or_approved_moderator?(community)
          button.text-blue-500.mt-3.flex.gap-2.items-center.border.py-2.px-2 [class="hover:border-blue-500 dark:border-gray-700 dark:text-white dark:hover:border-white" data-action="click->display#toggle"]
            i class="fa-solid fa-plus"
            strong
              | Add new topics
          
          .displayable.w-full [data-display-target="displayable"]
            = form_with url: community_interests_path(community), class: "flex flex-col items-center", method: :post do |f|
              .w-full.flex.flex-col.pt-2
                - Interest.where.not(id: community.interests).each do |interest|
                  .flex.items-center
                    label for="interest_id_#{interest.id}" 
                      = interest.name 
                    input.ml-auto.w-6.h-6.rounded-lg type="checkbox" name="interests_id[]" value="#{interest.id}" id="interest_id_#{interest.id}"
              = f.submit "Add Interests", class: "py-1 px-6 font-sans font-bold rounded-full bg-blue-500 text-white mt-4 mx-auto dark:bg-white dark:text-gray-700"

  .w-full.rounded-md.shadow.font-bold.flex.flex-col.bg-white.overflow-hidden 
    .w-full.bg-blue-500.h-16.text-white.font-sans.font-bold.flex.items-center.p-5
      strong.text-xl
        |Moderators
    .flex.flex-col.p-5.gap-4.text-md.text-blue-500 class="dark:bg-gray-700 dark:text-white" 
      - community.moderators.each do |moderator| 
        .font-bold.font-sans
          = link_to "r/#{moderator.full_name}", overview_user_profile_index_path(moderator)
