#community-modal.fixed.top-0.left-0.w-screen.h-screen.justify-center.items-center [data-modal-target="modal"]
  .fixed.top-0.left-0.w-screen.h-screen.bg-black.opacity-50
  .bg-white.opacity-100.z-50.rounded-xl.shadow-lg.relative.flex.flex-col.p-8 class="dark:bg-gray-700 dark:text-white" 
    button#community-close.absolute.top-6.right-6.text-2xl.text-gray-500 [data-action="click->modal#closeModal"]
      i.pointer-events-none class="fa-solid fa-xmark"

    .w-96.flex.flex-col.gap-8.text-xl
      h1.font-bold.text-xl
        | Create a community
      
      = form_with model: @new_community, class: "flex flex-col gap-6" do |f| 
        .flex.flex-col.gap-4
          = f.label :name, class: "font-bold"
          = f.text_field :name, class: "w-full rounded-lg border p-3 font-bold hover:border-gray-400 dark:bg-gray-600 dark:border-gray-500 dark:hover:border-white", placeholder: "/r", required: true, autocomplete: "off"
        .flex.flex-col.gap-4 
          h2.font-bold 
            | Community type
          .flex.items-center.gap-3.text-lg
            = f.radio_button :community_type, "public", checked: "checked"
            = f.label :community_type_public, class: "flex gap-3 items-center" do 
              i class="fa-solid fa-user text-gray-500"
              strong
                | Public
          .flex.items-center.gap-3.text-lg
            = f.radio_button :community_type, "private"
            = f.label :community_type_private, class: "flex gap-3 items-center" do 
              i class="fa-solid fa-lock text-gray-500"
              strong
                | Private
          = f.submit "Create Community", class: "font-bold px-6 py-3 bg-blue-500 text-white rounded-full mx-auto mt-8 dark:bg-white dark:text-gray-700"
        
      



      
