#deleteAccount-modal.fixed.top-0.left-0.w-screen.h-screen.justify-center.items-center.z-50 [data-modal-target="modal"]
  .fixed.top-0.left-0.w-screen.h-screen.bg-black.opacity-50
  .bg-white.opacity-100.z-50.rounded-xl.shadow-lg.relative.flex.flex-col.p-16
    button#deleteAccount-close.absolute.top-6.right-6.text-2xl.text-gray-500 [data-action="click->modal#closeModal"]
      i.pointer-events-none class="fa-solid fa-xmark"
    
    .w-96.flex.flex-col.gap-4.text-xl.items-center
      h1.font-bold.text-xl 
        | Delete account
      
      h2.text-xl 
        | We're sorry to see you go
      p.text-center
        | Once you delete your account, your profile, username, posts, comments and messages are permanently removed from Reddit Clone. Please make sure you fully understand that accounts aren't recoverable
      
      = button_to registration_path(resource_name), method: :delete, class: "mx-auto mt-4 px-8 py-3 font-bold font-sans text-white bg-red-500 rounded-full text-base flex gap-2 items-center" do
        |DELETE
