.w-full.flex
  - ["Posts", "Communities"].each do |link_name|
    = link_to link_name, eval("interest_#{link_name.downcase}_path(@interest)"), class: "text-lg pb-4 px-8 font-sans font-bold text-lg dark:text-white #{link_name == current_name ? "border-b-4 border-blue-500 dark:border-white" : ""}"
