#login-modal.fixed.top-0.left-0.w-screen.h-screen.justify-center.items-center [data-modal-target="modal"]
  .fixed.top-0.left-0.w-screen.h-screen.bg-black.opacity-50
  .bg-white.opacity-100.z-50.rounded-xl.shadow-lg.relative.flex.flex-col.p-16 class="dark:bg-gray-700 dark:text-white"
    button#login-close.absolute.top-6.right-6.text-2xl.text-gray-500 [data-action="click->modal#closeModal"]
      i.pointer-events-none class="fa-solid fa-xmark"
    
    .w-96.flex.flex-col.gap-8.text-xl
      h1.text-2xl.font-bold
        | Log In
      .flex.flex-col.gap-4
        = link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "border border-gray-300 rounded-full py-3 px-4 relative text-center" do
          .absolute class="top-1/3 left-6"
            = svg_pack_tag "google-icon"
          strong
            | Continue with Google

        = link_to user_facebook_omniauth_authorize_path, method: :post, class: "border border-gray-300 rounded-full py-3 px-4 relative text-center" do
          .absolute class="top-1/3 left-6"
            = svg_pack_tag "facebook-icon"
          strong
            | Continue with Facebook
      
      strong.mx-auto.text-lg.text-gray-600 class="dark:text-gray-300"
        | OR
      
      = form_for(resource, as: resource_name, html: {class: "w-full flex flex-col gap-4"}, url: session_path(resource_name)) do |f|
        .input__box.relative
          = f.email_field :email, class: "w-full rounded-full border px-5 pb-1 pt-5 font-bold hover:border-gray-400 dark:bg-gray-600 dark:border-gray-500 dark:hover:border-white", placeholder: ""
          = f.label :email, class: "absolute font-bold top-3 left-5 text-gray-500 dark:text-gray-300"
        .input__box.relative
          = f.password_field :password, class: "w-full rounded-full border px-5 pb-1 pt-5 font-bold hover:border-gray-400 dark:bg-gray-600 dark:border-gray-500 dark:hover:border-white", placeholder: ""
          = f.label :password, class: "absolute font-bold top-3 left-5 text-gray-500 dark:text-gray-300"

        p.text-lg.pl-3
          | Forget your 
          = link_to "password", new_password_path(resource_name), class: "text-blue-500 font-bold underline"
          | ?

        p.text-lg.pl-3
          | Didn't receive 
          = link_to "confirmation instructions", new_confirmation_path(resource_name), class: "text-blue-500 font-bold underline"
          | ?

        = f.submit "Log In", class: "w-full mx-auto mt-4 bg-redditOrange text-white rounded-full px-5 py-3 font-bold"

      p.text-lg.pl-3
        | New to Reddit Clone? 
        = link_to "Sign Up", new_registration_path(resource_name), class: "text-blue-500 font-bold underline"


      
