.relative.w-80
  .moderating__sidebar.fixed.top-22.left-0.w-80.overflow-auto.bg-white class="dark:bg-gray-700 dark:text-white"
    .w-full.flex.flex-col.gap-10.py-6.pl-4
      .w-full.flex.flex-col.gap-4 
        .text-gray-500.text-sm.font-sans.font-bold.flex.gap-3.items-center class="dark:text-gray-300"
          i class="fa-solid fa-eye text-xl"
          span
            | POST QUEUES
        .flex.flex-col.gap-4.text-lg.pl-8
          = link_to "Moderating", moderator_resources_path(id: @community, status: "moderating", type: "community_posts")
          p 
            | Approved 
          p 
            | Rejected
      
      .w-full.flex.flex-col.gap-4 
        .text-gray-500.text-sm.font-sans.font-bold.flex.gap-3.items-center class="dark:text-gray-300"
          i class="fa-solid fa-users text-xl"
          span
            | USER MANAGEMENT
        .flex.flex-col.gap-4.text-lg.pl-8
          = link_to "Requests", moderator_resources_path(id: @community, status: "moderating", type: "requests")
          = link_to "Approved", moderator_resources_path(id: @community, status: "approved", type: "requests")
          = link_to "Banned", moderator_resources_path(id: @community, status: "rejected", type: "requests")
      
      .w-full.flex.flex-col.gap-4 
        .text-gray-500.text-sm.font-sans.font-bold.flex.gap-3.items-center class="dark:text-gray-300"
          i class="fa-solid fa-gear text-xl"
          span
            | OTHER
        .flex.flex-col.gap-4.text-lg.pl-8
          = link_to "Community appearance", edit_community_path(@community) 

