.w-full.flex
  - ["Moderating", "Approved", "Rejected"].each do |link_name|
    = link_to link_name, eval("moderator_resources_path(id: current_user, status: '#{link_name.downcase}', type: 'posts')"), class: "text-lg pb-4 px-8 font-bold text-lg dark:text-white #{link_name == current_name ? "border-b-4 border-blue-500 dark:border-white" : ""}"
