nav.bg-white.py-3.px-8.fixed.top-0.w-screen.flex.items-center.justify-between.z-50 [class="dark:bg-gray-700 dark:text-white" data-controller="dropdown modal darkmode"]
  = link_to root_path do 
    .flex.gap-3
      = svg_pack_tag("reddit-icon", class: "w-11 h-11")
      = svg_pack_tag("reddit-brand", class: "w-20 h-11")

  .relative.flex.items-center.navbar__dropdown [data-dropdown]
    - unless community
      .flex.gap-3.items-center.w-80
        i class="fa-solid fa-house text-2xl"
        p.text-xl.font-bold  
          | Home
    - else 
      .flex.gap-3.items-center.w-80.text-lg
        .h-6.w-6.rounded-full.bg-blue-500.overflow-hidden
          - if community.community_icon.attached?
            = image_tag community.community_icon, class: "w-full h-full object-cover"
        p.font-bold
          = "r/#{community.name}"

    button.navbar__dropdown-toggle [data-dropdown-button]
      i.pointer-events-none class="fa-solid fa-chevron-down my-auto"
    
    = render partial: "shared/communities_list"
  
  = render partial: "shared/search_bar"
  
  .flex.items-center.text-2xl.gap-6
    - if current_user.has_role? :admin
      = link_to admin_communities_path do
        i class="fa-solid fa-building-shield"

    = link_to moderator_resources_path(id: current_user, status: "moderating", type: "posts") do
      i class="fa-solid fa-shield-halved"

    = link_to chatrooms_path, target: :_blank do
      i class="fa-regular fa-comments"

    .relative.navbar__dropdown [data-dropdown]
      button.navbar__dropdown-toggle.relative [data-dropdown-button]
        i.pointer-events-none class="fa-regular fa-bell"
        #notification-icon.absolute.rounded-full.bg-red-600.-right-2.top-0.px-1.text-white.font-sans.font-bold.text-xs.pointer-events-none.flex.justify-center.items-center data-user-id="#{current_user.id}"
          = @unread_count
      
      = render partial: "shared/notifications_dropdown"
    
    - if community 
      = link_to community_posts_new_path(community_id: community, type: "Post") do
        i class="fa-solid fa-plus"
    - else 
      = link_to new_post_path do
        i class="fa-solid fa-plus"
  
  .flex.gap-2
    .w-8.h-8.bg-gray-500.relative.rounded-md
      .rounded-md.w-full.h-full.overflow-hidden
        - if current_user.current_avatar
          = image_tag current_user.current_avatar, class: "w-full h-full object-cover"
      .absolute.-bottom-1.-right-1.w-4.h-4.rounded-full.bg-green-500.border-2.border-white
    .flex.flex-col.justify-center.w-52
      strong.text-lg
        = current_user.full_name
    .relative.navbar__dropdown [data-dropdown]
      button.navbar__dropdown-toggle [data-dropdown-button]
        i.pointer-events-none class="fa-solid fa-chevron-down my-auto"
      = render partial: "shared/user_dropdown"
  
  = render partial: "shared/create_community_modal"
    
