.w-full.bg-white.rounded-lg.flex.flex-col.gap-8.py-28.items-center class="dark:bg-gray-700 dark:text-white"
  = image_tag("cat_blep", size: "200x200")
  .flex.flex-col.items-center 
    strong.text-2xl
      | The queue is clean!
    p.text-gray-500.font-bold.text-xl class="dark:text-gray-300"
      | Kitteh is pleased
