.absolute.p-5.bg-white.top-12.right-0.navbar__dropdown-list.w-96.h-96.p-6.shadow-2xl.rounded-lg.overflow-auto.text-base class="dark:bg-gray-700 dark:text-white"
  .flex.justify-between.items-end
    strong.text-lg
      | Notifications
    strong.text-gray-500
      | Messages
  
  #notifications-container.flex.flex-col.mt-2.gap-4
    - @notifications.each do |notification| 
      = link_to notification.to_notification.url, class: "flex items-center gap-2" do 
        .
          .w-12.h-12.rounded-full.bg-gray-500
        span
          = notification.to_notification.message

