.flex.flex-col.rounded-lg.border.mr-12 class="dark:border-gray-500"
  .border-b.py-1.px-4.text-gray-500 class="dark:text-gray-300 dark:border-gray-500 font-sans font-bold text-base"
    = pluralize(votes_count(post), 'vote')
  
  - unless user_signed_in? && option_voted(post)
    = form_with model: UserPoll.new, url: post_create_poll_vote_path(post), class: "flex  flex-col gap-4 p-4" do |f|
      = f.collection_radio_buttons :poll_option_id, post.poll_options, :id, :name do |b| 
        .flex.gap-4 
          = b.radio_button
          = b.label
      .flex
        = f.submit "Vote", class: "font-sans font-bold border border-blue-500 text-blue-500 bg-white py-2 px-6 rounded-full dark:text-white dark:border-white dark:bg-gray-700"
  - else 
    .flex.flex-col.gap-4.p-4 
      - post.poll_options.each do |poll_option|
        - if poll_option.id == option_voted(post).id
          .w-full.rounded-lg.bg-blue-200.py-2.px-6.flex.gap-4.items-center class="dark:bg-blue-900"
            span
              = poll_option.user_polls.count
            span
              = poll_option.name

            span.w-6.h-6.rounded-full.flex.justify-center.items-center.bg-gray-700.text-blue-200 class="dark:bg-blue-300 dark:text-gray-700"
              i class="fa-solid fa-check"
        - else
          .w-full.rounded-lg.py-2.px-6.flex.gap-4
            span
              = poll_option.user_polls.count
            span
              = poll_option.name
