- if user_signed_in?  
  .w-full.p-3.bg-white.rounded-sm.flex.items-center.shadow class="dark:bg-gray-700 dark:text-white"
    .w-12.h-12.rounded-full.bg-gray-500.overflow-hidden
      - if current_user.current_avatar
        = image_tag current_user.current_avatar, class: "w-full h-full object-cover"
    = link_to "Create post", community_posts_new_path(community_id: community, type: "post"), class: "border border-white text-lg text-gray-500 py-3 px-6 rounded-md ml-4 w-3/4 hover:border-blue-500 dark:border-gray-700 dark:hover:border-white"
    .flex.gap-8.items-center.pr-8.ml-auto
      button.text-3xl.text-gray-500
        i class="fa-regular fa-image"
      button.text-2xl.text-gray-500
        i class="fa-solid fa-link"
