.flex.py-3 
  .px-4
    = render partial: "shared/vote_form", locals: { votes: post.votes, vote_id: post.id, vote_type: "Post" }
  .w-full.flex
    = link_to post_path(post) do
      .flex.w-32.h-24.rounded-lg.overflow-hidden
        - if post_has_images?(post)
            = image_tag post.first_image, class: "w-full h-full object-cover"
        - else
          .w-full.h-full.bg-gray-500
    .flex.flex-col.pl-4.w-full data-controller="modal"
      = link_to post_path(post), class: "flex flex-col" do
        strong.text-xl
          = post_title(post)
        strong.text-md.font-bold
          = "r/#{post.community.name}"
      
      = render partial: "shared/user_interactive_bar_horizontal", locals: {post: post}
      = render partial: "shared/share_post_modal", locals: { post: post }
