.bg-white.flex.justify-center.pt-20 class="dark:bg-gray-700"
  - if user_signed_in? && @user == current_user
    - ["OVERVIEW", "POSTS", "COMMENTS", "SAVED", "UPVOTED", "DOWNVOTED"].each do |link_name|
      = link_to link_name, eval("#{link_name.downcase}_user_profile_index_path(@user)"), class: "text-lg py-4 px-8 font-bold text-lg dark:text-white dark:bg-gray-700 #{link_name == current_name ? "border-b-4 border-blue-500 dark:border-white text-blue-500 dark:text-white" : ""}"
  - else 
    - ["OVERVIEW", "POSTS", "COMMENTS"].each do |link_name|
      = link_to link_name, eval("#{link_name.downcase}_user_profile_index_path(@user)"), class: "text-lg py-4 px-8 font-bold text-lg dark:text-white dark:bg-gray-700 #{link_name == current_name ? "border-b-4 border-blue-500 dark:border-white text-blue-500 dark:text-white" : ""}"
