= search_form_for(@query, url: search_path, method: :get, class: "w-2/5 text-2xl flex gap-3 border items-center px-4 py-3 rounded-full text-gray-500 hover:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:hover:border-white", autocomplete: "off") do |f|
  i class="fa-solid fa-magnifying-glass"
  = f.search_field :name_i_cont_any, class: "text-xl text-black w-full focus:outline-none dark:bg-gray-600 dark:text-white"
