.w-full.flex
  - ["Account", "Profile", "Subscription"].each do |link_name|
    = link_to link_name, eval("#{link_name.downcase}_settings_path"), class: "text-lg pb-4 px-8 font-sans font-bold text-lg dark:text-white #{link_name == current_name ? "border-b-4 border-blue-500 dark:border-white" : ""}"
