#sharePost-modal.fixed.top-0.left-0.w-screen.h-screen.justify-center.items-center [data-modal-target="modal" data-controller="clipboard" data-clipboard-url-value="#{post_url(post)}"]
  .fixed.top-0.left-0.w-screen.h-screen.bg-black.opacity-50
  .bg-white.opacity-100.z-50.rounded-xl.shadow-lg.relative.flex.flex-col.gap-6.p-8 class="dark:bg-gray-700 dark:text-white" 
    button#sharePost-close.absolute.top-6.right-6.text-2xl.text-gray-500 [data-action="click->modal#closeModal"]
      i.pointer-events-none class="fa-solid fa-xmark"
  
    strong.text-xl
      | Share Post
    
    .flex.px-2.justify-around
      .flex.flex-col.items-center.gap-4
        .w-12.h-12.flex.items-center.justify-center.rounded-full
          i class="fa-solid fa-code text-2xl text-gray-500 dark:text-gray-300"
        span.text-sm
          | Embed
      .flex.flex-col.items-center.gap-4 
        .w-12.h-12.flex.items-center.justify-center.rounded-full.bg-blue-700.text-white class="dark:bg-white dark:text-gray-700"
          i class="fa-brands fa-facebook-f text-3xl"
        span.text-sm 
          | Facebook
      .flex.flex-col.items-center.gap-4 
        .w-12.h-12.flex.items-center.justify-center.rounded-full.bg-blue-500.text-white class="dark:bg-white dark:text-gray-700"
          i class="fa-brands fa-twitter text-3xl"
        span.text-sm
          | Twitter
      
      .flex.flex-col.items-center.gap-4
        .w-12.h-12.flex.items-center.justify-center.rounded-full.bg-gray-500.text-white class="dark:bg-white dark:text-gray-700"
          i class="fa-solid fa-envelope text-3xl"
        span.text-sm
          | Email

    .w-96.py-2.px-3.border.border-gray-300.rounded-lg.flex.justify-between
      .
        = post_url(post).truncate(30)
      button.text-lg.text-blue-500.font-sans.font-bold [class="dark:text-white" data-clipboard-target="clickBtn" data-action="click->clipboard#saveContent"]
        |COPY
