#signup-modal.fixed.top-0.left-0.w-screen.h-screen.justify-center.items-center [data-modal-target="modal"]
  .fixed.top-0.left-0.w-screen.h-screen.bg-black.opacity-50
  .bg-white.opacity-100.z-50.rounded-xl.shadow-lg.relative.flex.flex-col.p-16 class="dark:bg-gray-700 dark:text-white"
    button#signup-close.absolute.top-6.right-6.text-2xl.text-gray-500 [data-action="click->modal#closeModal"]
      i.pointer-events-none class="fa-solid fa-xmark"
    
    .w-96.flex.flex-col.gap-4.text-xl
      h1.text-2xl.font-bold.mb-4
        | Sign Up
      .flex.flex-col.gap-4
        = link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "border border-gray-300 rounded-full py-3 px-4 relative text-center" do
          .absolute class="top-1/3 left-6"
            = svg_pack_tag "google-icon"
          strong
            | Continue with Google

        = link_to user_facebook_omniauth_authorize_path, method: :post, class: "border border-gray-300 rounded-full py-3 px-4 relative text-center" do
          .absolute class="top-1/3 left-6"
            = svg_pack_tag "facebook-icon"
          strong
            | Continue with Facebook
      
      strong.my-4.mx-auto.text-lg.text-gray-600
        | OR
      
      = form_for(resource, as: resource_name, html: {class: "w-full flex flex-col gap-4"}, url: registration_path(resource_name)) do |f| 
        = render "devise/shared/error_messages", resource: resource
        .input__box.relative
          = f.email_field :email, class: "w-full rounded-full border px-5 pb-1 pt-5 font-bold hover:border-gray-400 dark:bg-gray-600 dark:border-gray-500 dark:hover:border-white", placeholder: ""
          = f.label :email, class: "absolute font-bold top-3 left-5 text-gray-500 dark:text-gray-300"

        em.text-base.text-left
          |Password must contain at least one uppercase character, one number, one special symbol and have minimum length of 8 characters.
        .input__box.relative
          = f.password_field :password, class: "w-full rounded-full border px-5 pb-1 pt-5 font-bold hover:border-gray-400 dark:bg-gray-600 dark:border-gray-500 dark:hover:border-white", placeholder: "", pattern: "^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,}$"
          = f.label :password, class: "absolute font-bold top-3 left-5 text-gray-500 dark:text-gray-300"
        
        .input__box.relative
          = f.password_field :password_confirmation, class: "w-full rounded-full border px-5 pb-1 pt-5 font-bold hover:border-gray-400 dark:bg-gray-600 dark:border-gray-500 dark:hover:border-white", placeholder: ""
          = f.label :password_confirmation, class: "absolute font-bold top-3 left-5 text-gray-500 dark:text-gray-300"

        = f.submit "Sign Up", class: "w-full mx-auto mt-4 bg-redditOrange text-white rounded-full px-5 py-3 font-bold"
      
      p.text-lg.pl-3
        |Already a redditor? 
        = link_to "Log In", new_session_path(resource_name), class: "text-blue-500 font-bold underline"

