nav.bg-white.py-3.px-8.fixed.top-0.w-screen.flex.items-center.justify-between.z-50[class="dark:bg-gray-700 dark:text-white" data-controller="dropdown modal"]
  = link_to root_path do 
    .flex.gap-3
      = svg_pack_tag("reddit-icon", class: "w-11 h-11")
      = svg_pack_tag("reddit-brand", class: "w-20 h-11")
  
  = render partial: "shared/search_bar"
  
  .flex.gap-6
    button#signup-open.border.border-blue-500.py-2.px-14.font-bold.text-blue-500.rounded-full.text-lg.font-sans [class="dark:bg-gray-700 dark:border-white dark:text-white"  data-action="click->modal#showModal"]
      | Sign Up
    
    button#login-open.border.border-blue-500.bg-blue-500.py-2.px-14.font-bold.text-white.rounded-full.text-lg.font-sans [class="dark:bg-white dark:text-gray-700 dark:border-white"  data-action="click->modal#showModal"]
      | Log In
  
  = render partial: "shared/login_modal"
  = render partial: "shared/signup_modal"
