.flex.gap-4.text-lg.items-center.text-gray-500.mt-3.font-sans.w-full class="dark:text-gray-300"
  = link_to post_path(post) do
    .flex.gap-2.text-lg.items-center
      i class="fa-regular fa-comment text-2xl"
      strong 
        = format_comments_count(post.comments.count)
  
  . data-controller="save" data-save-url-value="#{save_post_url(post)}"  
    button.flex.gap-2.text-lg.items-center data-action="click->save#processSave" data-save-target="saveBtn" 
      - if post_saved?(current_user, post)
        i class="fa-solid fa-bookmark text-2xl"
        strong 
          | Unsave
      - else 
        i class="fa-regular fa-bookmark text-2xl"
        strong 
          | Save

  button#sharePost-open.flex.gap-2.text-lg.items-center [data-action="click->modal#showModal"]
    i class="fa-solid fa-share pointer-events-none"
    strong.pointer-events-none
      | Share
  
  - if current_user&.has_role?(:admin) || current_user&.has_role?(:moderator, post.community)
    = form_with model: post, url: toggle_status_post_path(moderator_id: current_user, id: post.id), method: :POST do |f| 
      = f.hidden_field :status, value: "approved"
      - if post.status == "approved"
        button.flex.gap-2.items-center.text-lg.text-green-500 type="submit"
          i class="fa-solid fa-check text-2xl"
          strong
            | Approved
      - else 
        button.flex.gap-2.items-center.text-lg type="submit"
          i class="fa-solid fa-check text-2xl"
          strong
            | Approve

    = form_with model: post, url: toggle_status_post_path(moderator_id: current_user, id: post.id), method: :POST do |f| 
      = f.hidden_field :status, value: "rejected"
      - if post.status == "rejected"
        button.flex.gap-2.items-center.text-lg.text-red-500 type="submit"
          i class="fa-solid fa-x text-xl"
          strong
            | Rejected
      - else 
        button.flex.gap-2.items-center.text-lg type="submit"
          i class="fa-solid fa-x text-xl"
          strong
            | Reject
    
    = link_to toggle_pinned_post_path(post), class: "flex gap-2 items-center text-lg #{"text-green-500" if post.pinned}" do
      i class="fa-solid fa-thumbtack"
      strong
        = post.pinned ? "Pinned" : "Pin Post"

  - if user_signed_in? && (post.user == current_user || current_user.has_role?(:admin))
    = link_to post_path(post), class: "flex gap-2 text-lg items-center ml-auto", method: :DELETE do
      i class="fa-solid fa-trash text-xl" 
      strong 
        | Delete
