.absolute.p-5.bg-white.top-12.right-0.navbar__dropdown-list.text-xl class="dark:bg-gray-700 dark:text-white"
  .flex.flex-col.gap-4
    = link_to overview_user_profile_index_path(current_user), class: "flex items-center gap-3 whitespace-nowrap" do 
      i class="fa-solid fa-user w-6"
      strong 
        | Profile
    
    = link_to account_settings_path(current_user), class: "flex items-center gap-3 whitespace-nowrap" do 
      i class="fa-solid fa-gear"
      strong 
        | User Settings
    
    .flex.items-center.gap-4
      button.text-white.w-16.h-8.rounded-full.flex.items-center.p-1[class="hover:bg-gray-300 dark:bg-gray-500" data-action="click->darkmode#toggleDarkmode"]
        .w-7.h-7.bg-white.rounded-full.border-2.border-gray-400 [class="dark:border-white" data-darkmode-target="toggleCircle"]

      strong
        | Darkmode
    
    button#community-open [data-action="click->modal#showModal"]
      .pointer-events-none.flex.items-center.gap-3.whitespace-nowrap
        i class="fa-solid fa-people-group w-6"
        strong
          | Create a community
    
    = link_to new_subscription_path, class: "flex items-center gap-3 whitespace-nowrap" do 
      i class="fa-solid fa-shield-halved"
      strong 
        | Premium
    
    .flex.flex-col [data-controller="display"]
      button.flex.gap-3.items-center data-action="click->display#toggle"
        i class="fa-solid fa-binoculars"
        strong 
          | Explore
        i class="ml-auto fa-solid fa-chevron-down my-auto"
      
      .displayable.w-full [data-display-target="displayable"]
        .flex.flex-col.mt-3.pl-8.gap-3
          - @interests_all.each do |interest| 
            = link_to interest_posts_path(interest) do
              .font-bold
                = interest.name.truncate(18)

    = link_to destroy_user_session_path, method: :delete, class: "flex items-center gap-3 whitespace-nowrap" do 
      i class="fa-solid fa-right-from-bracket w-6"
      strong
        | Log out
