.w-96.flex.flex-col.gap-6
  .w-full.rounded-md.shadow.flex.flex-col.bg-white.overflow-hidden class="dark:bg-gray-700 dark:text-white"
    .home__banner.w-full.h-24.relative 
      - if @user.current_avatar
        .absolute.top-16.left-28.w-40.h-40.rounded-full.overflow-hidden 
          = image_tag @user.current_avatar, class: "w-full h-full object-cover"
      - else 
        .absolute.top-12.left-36.w-28
          = image_pack_tag "media/images/reddit_star.png"
    
    .flex.flex-col.gap-4.pb-4.pt-36
      .font-bold.text-center.text-2xl
        = user.full_name
      .px-4.text-lg
        = user.description

    - if user_signed_in? && user.id == current_user.id
      .flex.flex-col.gap-3.my-4.mx-4
        = link_to "New Post", new_post_path, class: "py-2 text-xl font-sans font-bold text-white rounded-full bg-blue-500 text-center dark:bg-white dark:text-gray-700"
  
  - if user_signed_in? && user.id == current_user.id
    .w-full.rounded-md.shadow.flex.flex-col.gap-3.bg-white.overflow-hidden.p-4 class="dark:bg-gray-700 dark:text-white"
      strong.text-lg.font-sans
        |You're a moderator of these communities
      .flex.flex-col.gap-4.mt-2
        - user.moderating_communities.each do |community|
          .flex.items-center.gap-4
            .h-12.w-12.rounded-full.bg-blue-500.overflow-hidden
              - if community.community_icon.attached?
                = image_tag community.community_icon, class: "w-full h-full object-cover"
            .flex.flex-col.font-bold
              span
                = "r/#{community.name}"
              span.text-gray-500 
                = pluralize(community.users.count, 'member') 
