.flex.flex-col.items-center.gap-1 [data-controller="vote"]
  - kind_of_vote = kind_of_vote(current_user, votes)
  = form_with model: Vote.new do |f|
    = f.hidden_field :value, value: 1
    = f.hidden_field :voteable_id, value: vote_id
    = f.hidden_field :voteable_type, value: vote_type
    .text-gray-500
      button [class="text-2xl #{kind_of_vote == 'Upvote' ? 'text-redditOrange' : ''}" data-vote-target="upvoteButton" data-action="click->vote#upvoteOrRemove"]
        i class="fa-solid fa-up-long"

  .text-black class="dark:text-white"
    strong [class="#{kind_of_vote == 'Upvote' ? 'text-redditOrange' : kind_of_vote == 'Downvote' ? 'text-blue-500' : '' }" data-vote-target="currentVotes"]
      = votes.sum { |v| v.value.value.to_i }

  = form_with model: Vote.new do |f|
    = f.hidden_field :value, value: -1
    = f.hidden_field :voteable_id, value: vote_id
    = f.hidden_field :voteable_type, value: vote_type
    .text-gray-500
      button [class="text-2xl #{kind_of_vote == 'Downvote' ? 'text-blue-500' : ''}" data-vote-target="downvoteButton" data-action="click->vote#downvoteOrRemove"]
        i class="fa-solid fa-down-long"
