- if user_signed_in? 
  = render partial: "shared/navbar", locals: {community: nil}
- else
  = render partial: "shared/unsigned_navbar"

.min-h-screen.bg-redditGray.pt-28.pb-16 class="dark:bg-gray-900" data-controller="modal pagination" data-action="scroll@window->pagination#scroll"
  .mx-auto.flex.gap-8 class="w-3/4"
    .min-h-screen.flex.flex-col.gap-6 class="w-2/3" data-pagination-target="container"
      = render partial: "shared/post_create_link"

      = render partial: "shared/posts_preview", locals: {posts: @posts, need_icon: true, display_pin: false}

      .flex.justify-center.hidden data-pagination-target="pagination"
        == pagy_nav(@pagy)

    .w-96.flex.flex-col.gap-6
      .w-full.rounded-md.shadow.flex.flex-col.bg-white.overflow-hidden class="dark:bg-gray-700 dark:text-white"
        .home__banner.w-full.h-12.relative 
          .absolute.top-8.left-4.w-14
            = image_pack_tag "media/images/reddit_star.png"
        .pl-20.py-8.text-lg.font-bold
          | Home
        .flex.flex-col.px-3.pb-4.gap-8
          p 
            | Your personal Reddit frontpage. Come here to check in with your favorite communities.
          .flex.flex-col.gap-3
            = link_to "Create Post", new_post_path, class: "py-2 font-sans font-bold text-white rounded-full bg-blue-500 text-center dark:bg-white dark:text-gray-700"
            
            button#community-open class="py-2 font-sans font-bold text-blue-500 rounded-full border border-blue-500 text-center dark:bg-gray-700 dark:text-white dark:border-white" data-action="click->modal#showModal"
              | Create Community
      
      .w-full.rounded-md.shadow.flex.flex-col.bg-white.overflow-hidden.px-3.pt-3.pb-4.gap-2 class="dark:bg-gray-700 dark:text-white"
        .flex.items-center
          .py-2.pl-2.pr-4.text-redditOrange.text-3xl
            i class="fa-solid fa-shield-halved"
          .flex.flex-col 
            strong
              | Reddit premium
            p.text-sm
              | The best Reddit experience, with monthly Coins
        = link_to "Try Now", new_subscription_path, class: "py-2 font-sans font-bold text-white rounded-full bg-redditOrange text-center dark:text-gray-700"
  
  = render partial: "shared/create_community_modal"

- if user_signed_in? && current_user.interests.blank?
  = render partial: "shared/add_interests_modal"
