- if user_signed_in? 
  = render partial: "shared/navbar", locals: {community: nil}
- else
  = render partial: "shared/unsigned_navbar"

.min-h-screen.bg-redditGray.py-32.flex.flex-col.gap-8 class="dark:bg-gray-900"
  .mx-auto.flex.flex-col.gap-4 class="w-3/5 dark:text-white" 
    strong.text-lg
      |SEARCH BY INTERESTS
    
    - if @interests.blank? 
      .mx-auto.text-lg
        | There is no interest match your search.
    - else
      - @interests.each do |interest| 
        - unless interest.communities.blank?
          .flex.flex-col.gap-4
            strong.text-lg
              = interest.name
            .mx-auto.bg-white.shadow.rounded-sm.flex.flex-col.divide-y.divide-gray-300.w-full class="dark:bg-gray-700 dark:divide-gray-600"
              - interest.communities.each do |community| 
                .w-full.p-4.flex.items-center 
                  = link_to community_path(community), class: "flex items-center" do
                    .h-12.w-12.rounded-full.bg-blue-500.mr-4.overflow-hidden
                      - if community.community_icon.attached?
                        = image_tag community.community_icon, class: "w-full h-full object-cover"
                    .flex.flex-col
                      strong
                        = "/r#{community.name}" 
                      p.text-gray-500 class="dark:text-gray-300"
                        = community.community_type.capitalize
                  
                  - if user_signed_in?
                    = link_to community_users_path(community), class: "ml-auto text-blue-500 font-sans font-bold text-xl bg-blue-100 px-12 py-2 rounded-full dark:bg-gray-600 dark:text-white" do
                      = user_status_in_community(current_user, community)
      

  .mx-auto.flex.flex-col.gap-4 class="w-3/5 dark:text-white" 
    strong.text-lg
      |SEARCH BY COMMUNITIES'S NAME
    
    - if @communities.blank?
      .mx-auto.text-lg 
        | There is no community match your search.
    - else
      .mx-auto.bg-white.shadow.rounded-sm.flex.flex-col.divide-y.divide-gray-300.w-full class="dark:bg-gray-700 dark:divide-gray-600"
        - @communities.each do |community|
          .w-full.p-4.flex.items-center 
            = link_to community_path(community), class: "flex items-center" do
              .h-12.w-12.rounded-full.bg-blue-500.mr-4.overflow-hidden
                - if community.community_icon.attached?
                  = image_tag community.community_icon, class: "w-full h-full object-cover"
              .flex.flex-col
                strong
                  = "/r#{community.name}" 
                p.text-gray-500 class="dark:text-gray-300"
                  = community.community_type.capitalize
            
            - if user_signed_in?
              = link_to community_users_path(community), class: "ml-auto text-blue-500 font-sans font-bold text-xl bg-blue-100 px-12 py-2 rounded-full dark:bg-gray-600 dark:text-white" do
                = user_status_in_community(current_user, community)
          
