= render partial: "shared/navbar", locals: {community: nil}

.min-h-screen.bg-redditGray.pt-28.pb-16.flex.flex-col.items-center class="dark:bg-gray-900"
  .mx-auto.flex.flex-col.gap-6 class="w-1/2"
    .flex.flex-col
      strong.text-3xl class="dark:text-white"
        = @interest.name
      span.text-gray-500 class="dark:text-gray-300"
        | A topic on Reddit Clone
    
    = render partial: "shared/interest_links", locals: {current_name: "Communities"}

    .mx-auto.bg-white.shadow.rounded-sm.flex.flex-col.divide-y.divide-gray-300.w-full class="dark:bg-gray-700 dark:text-white dark:divide-gray-600"
      - @communities.each do |community|
        .w-full.p-4.flex.items-center 
          .flex.items-center
            .h-12.w-12.rounded-full.bg-blue-500.mr-4.overflow-hidden
              - if community.community_icon.attached?
                  = image_tag community.community_icon, class: "w-full h-full object-cover"
            .flex.flex-col
              = link_to "/r#{community.name}", community_path(community), class: "font-bold hover:underline"

              p.text-gray-500
                = community.community_type.capitalize
              
              p.text-left.text-gray-500
                | Community description (Coming soon!)
              
              = link_to "Visit", community_path(community), class: "font-sans font-bold text-blue-500"
          
          - if user_signed_in?
            = link_to community_users_path(community), class: "ml-auto text-blue-500 font-sans font-bold text-xl bg-blue-100 px-12 py-2 rounded-full dark:bg-gray-600 dark:text-white" do
              = user_status_in_community(current_user, community)
