= render partial: "shared/navbar", locals: {community: nil}

.min-h-screen.bg-redditGray.pt-28.pb-16.flex.flex-col.items-center class="dark:bg-gray-900" data-controller="pagination" data-action="scroll@window->pagination#scroll"
  .mx-auto.flex.flex-col.gap-6 class="w-1/2" data-pagination-target="container"
    .flex.flex-col
      strong.text-3xl class="dark:text-white"
        = @interest.name
      span.text-gray-500 class="dark:text-gray-300"
        | A topic on Reddit Clone
    
    = render partial: "shared/interest_links", locals: {current_name: "Posts"}

    = render partial: "shared/posts_preview", locals: {posts: @posts, need_icon: true, display_pin: false}

    .flex.justify-center.hidden data-pagination-target="pagination"
      == pagy_nav(@pagy)
