- if user_signed_in? 
  = render partial: "shared/navbar", locals: {community: nil}
- else
  = render partial: "shared/unsigned_navbar"
  
= render partial: "shared/profile_links", locals: {current_name: "COMMENTS"}

.min-h-screen.bg-redditGray.pt-10.pb-20 class="dark:bg-gray-900"
  .mx-auto.flex.justify-between class="w-11/12"
    . class="w-3/4"
      .w-full.mx-auto.flex.flex-col.gap-2
        - @comments.each do |comment| 
          = link_to post_path(comment.post) do 
            .flex.flex-col.bg-white.shadow.rounded-sm.border.p-4.gap-6 class="hover:border-black dark:bg-gray-700 dark:text-white dark:border-gray-700 dark:hover:border-white"
              .flex.gap-4
                i class="fa-regular fa-comment text-2xl"
                .text-lg
                  span.text-blue-500 
                    = comment.user.full_name
                  span.text-gray-500
                    |  commented on  
                  span.font-bold.text-black class="dark:text-white"
                    = comment.post.title
                  span 
                    |  . 
                  span.font-bold.text-black.font-sans.text-md class="dark:text-white"
                    = "r/#{comment.post.community.name}"
              .pl-10.pr-8.flex.flex-col 
                span 
                  = comment.user.full_name 
                p.text-xl
                  = comment.content
    
    = render partial: "shared/user_profile_section", locals: {user: @user}
        
