- if user_signed_in? 
  = render partial: "shared/navbar", locals: {community: nil}
- else
  = render partial: "shared/unsigned_navbar"

= render partial: "shared/profile_links", locals: {current_name: "OVERVIEW"}

.min-h-screen.bg-redditGray.pt-10.pb-16 class="dark:bg-gray-900"
  .mx-auto.flex.gap-8 class="w-3/4"
    .min-h-screen.flex.flex-col.gap-6 class="w-2/3"
      - @posts.each do |post| 
        .w-full.bg-white.rounded-md.flex.shadow class="border hover:border-black dark:bg-gray-700 dark:text-white dark:hover:border-white dark:border-gray-700"
          .w-20.h-full.py-3
            = render partial: "shared/vote_form", locals: { votes: post.votes, vote_id: post.id, vote_type: "Post" }
          .flex.flex-col.gap-4.w-full data-controller="modal"
            = link_to post_path(post), class: "w-full" do
              .flex.flex-col.w-full
                .w-full.flex.flex-col.gap-3.p-2
                  .flex.items-center.gap-2
                    .flex.items-center.gap-2
                      .w-6.h-6.bg-blue-500.rounded-full.overflow-hidden 
                        - if post.community.community_icon.attached?
                          = image_tag post.community.community_icon, class: "w-full h-full object-cover"
                      strong.font-sans.text-md 
                        = "r/#{post.community.name}"
                    span 
                      | .
                    strong.text-md.text-gray-500
                      = "Posted by u/#{post.user.full_name}"
                  .text-2xl.font-bold
                    = post.title
                
                - if post_has_images?(post)
                  .w-full
                    = image_tag post.first_image, class: "mx-auto bg-gray-500"

            = render partial: "shared/user_interactive_bar", locals: {post: post}
            = render partial: "shared/share_post_modal", locals: { post: post }

    = render partial: "shared/user_profile_section", locals: {user: @user}
                
