- if user_signed_in? 
  = render partial: "shared/navbar", locals: {community: nil}
- else
  = render partial: "shared/unsigned_navbar"
  
= render partial: "shared/profile_links", locals: {current_name: "UPVOTED"}

.min-h-screen.bg-redditGray.pt-10 class="dark:bg-gray-900"
  .mx-auto.flex.justify-between class="w-11/12"
    . class="w-3/4"
      .w-full.mx-auto.bg-white.shadow.rounded-sm.flex.flex-col.divide-y.divide-gray-300.pr-8 class="dark:bg-gray-700 dark:text-white dark:divide-gray-900"
        - @posts.each do |post|
          = render partial: "shared/profile_post_horizontal", locals: {post: post}
      
    = render partial: "shared/user_profile_section", locals: {user: @user}
     