- if user_signed_in? 
  = render partial: "shared/navbar", locals: {community: @community}
- else
  = render partial: "shared/unsigned_navbar"

.w-screen.min-h-screen.bg-redditGray.pt-28.pb-16.flex.flex-col.items-center class="dark:bg-gray-900 dark:text-white"
  .flex.flex-col.items-center.gap-4 class="w-2/3"
    .flex
      i class="fa-solid fa-key text-5xl p-8 bg-gray-500 text-gray-700 rounded-full"
    strong.text-2xl.mt-6
      = "r/#{@community.name} is a private community"
    .flex.flex-col.items-center.text-lg.font-bold
      p
        = "The moderator of r/#{@community.name} have set this community as private."
      p 
        | Only approved members can view and take part in its dicussions.
    
    .flex.justify-center.gap-8.text-lg.mt-4
      = link_to "Request to join", community_users_path(@community), class: "border border-blue-500 font-bold font-sans text-blue-500 rounded-full py-2 px-6 dark:border-white dark:text-white"

      = link_to "Browse Reddit", root_path, class: "bg-blue-500 font-bold font-sans text-white rounded-full py-2 px-6 dark:bg-white dark:text-gray-700"

