= render partial: "shared/navbar", locals: {community: @community}

.min-h-screen.bg-redditGray.pt-20.flex class="dark:bg-gray-900"
  = render partial: "shared/moderating_sidebar"

  .mx-auto.flex.flex-col.gap-6.pt-8.pb-16 class="w-1/2 dark:text-white"
    strong.text-3xl 
      = "r/#{@community.name} - Community Appearance"

    .flex.flex-col.gap-4
      strong.text-xl 
        | Community Icon
      
      .flex.flex-col.gap-4.items-center
        .h-40.w-40.rounded-full.bg-blue-500.overflow-hidden
          - if @community.community_icon.attached?
            = image_tag @community.community_icon, class: "w-full h-full object-cover"

        = form_with model: @community, class: "mt-2 flex flex-col gap-4 items-center" do |f|
          = f.file_field :community_icon, class: "dark:text-white ml-28"
          .flex
            = f.submit "Change", class: "bg-blue-500 font-sans font-bold text-white py-2 px-6 rounded-full dark:bg-white dark:text-gray-700"
