- if user_signed_in? 
  = render partial: "shared/navbar", locals: {community: @community}
- else
  = render partial: "shared/unsigned_navbar"

.w-full.bg-blue-500.h-72.flex.items-end
  .w-full.bg-white.flex.justify-center.items.center class="dark:bg-gray-700 dark:text-white"
    .flex.py-3.gap-8.items-center class="w-3/4"
      .w-20.h-20.bg-blue-600.rounded-full.overflow-hidden 
        - if @community.community_icon.attached?
          = image_tag @community.community_icon, class: "w-full h-full object-cover"
      .flex.gap-8
        .flex.flex-col.gap-2
          h1.text-3xl.font-bold
            = @community.name
          p.text-gray-500.text-md.font-bold
            ="/r#{@community.name}"
        .flex.gap-4.items-start.text-xl
          - if user_signed_in? 
            = link_to community_users_path(@community) do
              .py-2.px-10.rounded-full.bg-white.border.border-blue-500.text-blue-500.font-sans.font-bold class="dark:bg-gray-700 dark:text-white dark:border-white" 
                = user_status_in_community(current_user, @community)
    

.min-h-screen.bg-redditGray.pt-8.pb-16 class="dark:bg-gray-900" data-controller="pagination" data-action="scroll@window->pagination#scroll"
  .mx-auto.flex.gap-8 class="w-3/4"
    .min-h-screen.flex.flex-col.gap-6 class="w-2/3" data-pagination-target="container"
      = render partial: "shared/post_create_with_community_link", locals: { community: @community }
      = render partial: "shared/posts_preview", locals: {posts: @pinned_posts, need_icon: false, display_pin: true}
      = render partial: "shared/posts_preview", locals: {posts: @posts, need_icon: false, display_pin: false}
      
      .flex.justify-center.hidden data-pagination-target="pagination"
        == pagy_nav(@pagy)

    = render partial: "shared/community_sidebar", locals: {community: @community}  
      

    


