= render layout: "devise/shared/background" do 
  .flex.flex-col.justify-center.px-8.gap-8.text-xl
    h1.text-2xl.font-bold.mb-4
      | Log In

    .flex.flex-col.gap-4
      = link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "border border-blue-500 rounded-md py-5 pl-16 pr-8 relative text-blue-500" do
        .absolute class="top-1/3 left-6"
          = svg_pack_tag "google-icon"
        strong
          | CONTINUE WITH GOOGLE

      = link_to user_facebook_omniauth_authorize_path, method: :post, class: "border border-blue-500 rounded-md py-5 pl-16 pr-8 relative text-blue-500" do
        .absolute class="top-1/3 left-6"
          = svg_pack_tag "facebook-icon"
        strong
          | CONTINUE WITH FACEBOOK
    
    strong.mx-auto.text-lg.text-gray-600
      | OR
      
    = form_for(resource, as: resource_name, html: {class: "w-full flex flex-col gap-4"}, url: session_path(resource_name)) do |f|
      .input__box.relative
        = f.email_field :email, class: "w-full rounded-full border px-5 pb-1 pt-5 font-bold hover:border-gray-400", placeholder: ""
        = f.label :email, class: "absolute font-bold top-3 left-5 text-gray-500"
      .input__box.relative
        = f.password_field :password, class: "w-full rounded-full border px-5 pb-1 pt-5 font-bold hover:border-gray-400", placeholder: ""
        = f.label :password, class: "absolute font-bold top-3 left-5 text-gray-500"

      p.text-lg.pl-3
        | Forget your 
        = link_to "password", new_password_path(resource_name), class: "text-blue-500 font-bold underline"
        | ?
      
      p.text-lg.pl-3
        | Didn't receive 
        = link_to "confirmation instructions", new_confirmation_path(resource_name), class: "text-blue-500 font-bold underline"
        | ?

      = f.submit "LOG IN", class: "w-full mx-auto mt-4 bg-blue-600 text-white rounded-md px-5 py-3 font-bold"

    p.text-lg.pl-3
      | New to Reddit Clone? 
      = link_to "Sign Up", new_registration_path(resource_name), class: "text-blue-500 font-bold underline"
