@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

.navbar{
  &__dropdown {
    &-list {
      display: none
    }
  }
  &__community-list {
    width: 23rem;
  }
}

.navbar__dropdown.active > .navbar__dropdown-toggle + .navbar__dropdown-list {
	display: block;
	pointer-events: auto;
}

.modal {
  &-hidden {
    display: none;
  }

  &-active {
    display: flex
  }
}

.flash {
	&__message {
		animation: appear-then-fade 4s both;
	}
}

.input__box {
  label {
    transition: 0.5s;
  }
  input:hover ~ label,
  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    top: -0.25rem;
    font-size: 1rem;
    font-weight: normal;
  }
}

.authentication {
  &__left-container {
    width: 12vw;
    background-image: url("~step_art");
    background-repeat: no-repeat;
    background-size: cover;

    &-modal {
      background-image: url("~step_art");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.displayable {
  display: none
}

.reddit-premium {
  &__header {
    &-bg {
      background-image: url("~reddit-premium-bg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 70vh;
    }
  }
}

.reddit-success {
  &__container {
    background-image: url("~reddit-success-bg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.home {
  &__banner {
    background-image: url("~home_banner");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.moderating {
  &__sidebar {
    max-height: 92vh;
  }
}

@keyframes appear-then-fade {
  0%, 100% {
    opacity:0
  }
  5%, 60% {
    opacity:1
  }
}


