.flex.flex-col.gap-4 [data-controller="display"]
  .flex.gap-2
    .w-12.h-12.bg-gray-500.rounded-full.overflow-hidden
      - if comment.user.current_avatar
          = image_tag comment.user.current_avatar, class: "w-full h-full object-cover"
    .flex.flex-col
      strong.font-sans.my-3
        = comment.user.full_name
      .w-full.text-lg
        = comment.content
  
  - if user_signed_in?
    .pl-8.flex.text-gray-500.gap-6
      = render partial: "shared/vote_form_horizontal", locals: { votes: comment.votes, vote_id: comment.id, vote_type: "Comment" }

      button.flex.items-center.gap-2 [class="dark:text-gray-300" data-action="click->display#toggle"]
        i class="fa-regular fa-comment text-2xl"
        span.pointer-events-none.font-bold.font-sans
          | Reply
      
    .displayable.pl-8 [data-display-target="displayable"]
      = render partial: "shared/comment_form", locals: { post: comment.post, parent_id: comment.id }

  .pl-8
    = render comment.comments
