= render partial: "shared/navbar", locals: {community: nil}

.w-screen.min-h-screen.bg-redditGray.pt-28.pb-16.flex.flex-col.items-center class="dark:bg-gray-900"
  .mx-auto.flex.flex-col.gap-6 class="w-1/2"
    strong.text-3xl class="dark:text-white"
      | Moderation
    
    = render partial: "shared/moderator_post_links", locals: {current_name: "Rejected"}

    - if @posts.blank?
      = render partial: "shared/no_moderating"
    - else 
      .w-full.bg-white.rounded-lg.p-4.flex.flex-col.gap-4 class="dark:bg-gray-700 dark:text-white"
        - @posts.each do |post| 
          .flex
            .flex.w-32.h-24.rounded-lg.overflow-hidden
              - if post_has_images?(post)
                  = image_tag post.first_image, class: "w-full h-full object-cover"
              - else
                .w-full.h-full.bg-gray-500
            
            .flex.flex-col.pl-4.justify-between
              = link_to post_path(post), class: "flex flex-col" do
                strong.text-xl
                  = post_title(post)
                strong.text-md.font-bold
                  = "r/#{post.community.name}"
              .flex.gap-4.text-lg.text-gray-500.mt-3
                .flex.gap-2.items-center
                  i class="fa-regular fa-comment text-2xl"
                  strong 
                    = format_comments_count(post.comments.count)
                
                = form_with model: post, url: toggle_status_post_path(moderator_id: current_user, id: post.id), method: :POST do |f| 
                  = f.hidden_field :status, value: "approved"
                  button.flex.gap-2.items-center type="submit"
                    i class="fa-solid fa-check text-2xl"
                    strong
                      | Approve

                = form_with model: post, url: toggle_status_post_path(moderator_id: current_user, id: post.id), method: :POST do |f| 
                  = f.hidden_field :status, value: "rejected"
                  button.flex.gap-2.items-center.text-lg.text-red-500 type="submit"
                      i class="fa-solid fa-x text-xl"
                      strong
                        | Rejected

