= render partial: "shared/navbar", locals: {community: @community}

.min-h-screen.bg-redditGray.pt-20.flex class="dark:bg-gray-900"
  = render partial: "shared/moderating_sidebar"

  .mx-auto.flex.flex-col.gap-6.pt-8.pb-16 class="w-1/2"
    strong.text-3xl class="dark:text-white"
      = "r/#{@community.name} - User Management"
    
    = render partial: "shared/moderator_user_links", locals: {current_name: "Rejected"}

    - if @requests.blank?
      = render partial: "shared/no_moderating"
 
    - else 
      .w-full.bg-white.rounded-lg.p-4.flex.flex-col.gap-4 class="dark:bg-gray-700 dark:text-white"
        - @requests.each do |request| 
          .w-full.flex.gap-4.items-center
            .w-14.h-14.rounded-full.bg-gray-500.overflow-hidden
              - if request.user.current_avatar
                = image_tag request.user.current_avatar, class: "w-full h-full object-cover"
            
            .flex.flex-col
              strong.text-lg
                = "r/#{request.user.full_name}"
              .text-gray-500
                = request.user.has_role?(:moderator, @community) ? "Moderator" : "Member"
            
            .flex.items-center.gap-4.font-bold.text-gray-500.ml-auto
              = form_with model: request, url: community_community_user_toggle_status_path(request), method: :POST do |f| 
                = f.hidden_field :status, value: "approved"
                button.flex.gap-2.items-center type="submit"
                    i class="fa-solid fa-check text-2xl"
                    strong
                      | Approved

              = form_with model: request, url: community_community_user_toggle_status_path(request), method: :POST do |f|
                = f.hidden_field :status, value: "rejected"
                button.flex.gap-2.items-center.text-red-500 type="submit"
                  i class="fa-solid fa-x text-xl"
                  strong
                    | Reject

