.w-screen.h-screen.flex [data-controller="display"]
  .h-full.flex.flex-col.overflow-auto class="w-1/3"
    .flex.flex-col.p-4.gap-8
      .flex.justify-between
        strong.text-2xl.font-sans.pl-4
          | Chat
        button.text-blue-500.text-2xl.mr-4 [data-action="click->display#toggle"]
          i class="fa-solid fa-comment-medical"
      .flex.flex-col.gap-8
        strong.text-sm.font-bold.font-sans.text-gray-500 
          |GROUP CHATS
        .flex.flex-col.gap-8
          - @group_chatrooms.each do |chatroom|
            = link_to chatroom_path(chatroom), id: "chatroom-#{chatroom.id}" do
              .flex.items-center.gap-4
                .w-16.h-16.rounded-full.flex.justify-center.items-center.bg-blue-500
                  i class="fa-solid fa-people-group text-3xl text-white"
                .flex.flex-col 
                  .font-bold.text-xl 
                    = chatroom.name
                  .w-80.truncate.text-gray-500 id="chatroom-#{chatroom.id}__last-message"
                    = chatroom.messages.last ? chatroom.messages.last.content : "Let's have a conversation!"

        strong.text-sm.font-bold.font-sans.text-gray-500 
          |DIRECT CHATS

        .flex.flex-col.gap-8
          - @direct_chatrooms.each do |chatroom| 
            = link_to chatroom_path(chatroom), id: "chatroom-#{chatroom.id}" do 
              .flex.items-center.gap-4
                .w-16.h-16.rounded-full.bg-gray-500.overflow-hidden
                  - if chatroom.first_user(current_user).current_avatar
                      = image_tag chatroom.first_user(current_user).current_avatar, class: "w-full h-full object-cover"
                .flex.flex-col 
                  .font-bold.text-xl 
                    = chatroom.first_user(current_user).full_name
                  .w-80.truncate.text-gray-500 id="chatroom-#{chatroom.id}__last-message"
                    = chatroom.messages.last ? chatroom.messages.last.content : "Let's have a conversation"
            
  .flex.items-center.justify-center.w-full.h-full.relative.z-50 
    .displayable.absolute.top-0.left-0.w-full.h-full.bg-white.flex.flex-col.gap-16 [data-display-target="displayable"]
      .flex.flex-col.pl-8.pt-8
        strong.text-xl
          | New group chat
        strong.text-sm.text-gray-500.mt-8.mb-3
          | CHATROOM NAME
        = form_with model: Chatroom.new, url: chatrooms_path, method: :post, class: "flex flex-col gap-4" do |f|
          = f.text_field :name, class: "w-full text-xl flex gap-3 border items-center px-4 py-3 rounded-full hover:border-blue-500 focus:outline-none", placeholder: "Type chatroom name", required: "required"
          .
            button.px-8.py-3.bg-blue-500.text-white.font-bold.font-sans.rounded-full.flex.gap-2.items-center 
              i class="fa-solid fa-comment-medical text-xl" 
              span
                | Start Chatting

      .flex.flex-col.gap-6.pt-8.px-8
        strong.text-xl
          | New direct chat 
        strong.text-sm.text-gray-500
          | PEOPLE YOU MIGHT KNOWN
        .flex.gap-6.overflow-auto.pb-4
          - @users.each do |user|
            = link_to user_direct_chatroom_path(user), class: "flex flex-col gap-4 items-center" do
              .w-40.h-40.rounded-lg.bg-gray-500.overflow-hidden
                - if user.current_avatar
                  = image_tag user.current_avatar, class: "w-full h-full object-cover"
              strong
                = user.full_name
    = yield
