<!DOCTYPE html>
<html>
  <head>
    <title>Reddit - Dive into anything</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path("reddit_icon.png") %>
  </head>

  <body>
    <%= yield %>

    <% flash.each do |type, msg| %>
      <% if type == "alert" %>
        <div class="flash__message fixed bottom-0 left-0 w-full bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded text-center z-50" data-controller="remove" data-action="animationend->remove#remove">
          <%= msg %>
        </div>
      <% else %>
        <div class="flash__message fixed bottom-0 left-0 w-full bg-teal-100 border border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md text-center z-50" data-controller="remove" data-action="animationend->remove#remove">
          <%= msg %>
        </div>
      <% end %>
    <% end %>
  </body>
</html>
